.building {
    display: flex;
    min-height: 150px;
    width: 600px;
    background-color: #303030; 
}

.building .name-and-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    width: 150px;
}

.building .name {
    font-size: 20px;
}

.building .description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    width: 250px;
}

.building .resources {
    background-color: #BB9955;
    width: 200px;
    margin: 5px;
    border: 5px solid grey;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.building .resources .resource {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}